gmail_swipper2.json
{
  "name": "gmail_swipper2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        0
      ],
      "id": "534945a0-7510-46d8-a081-dc19cb473c78",
      "name": "Telegram Trigger",
      "webhookId": "1ec1ae80-67e5-41e4-8b8c-b24c870b7e0f",
      "credentials": {
        "telegramApi": {
          "id": "5Qwnl7TqdGkOpn6G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  email_id: $json.callback_query.data.replace('DELETE_', ''),\n  message_id: $json.callback_query.message.message_id,\n  chat_id: $json.callback_query.message.chat.id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "69bfa157-7dfb-4406-8a5f-96bdf56aabb2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "trash",
        "threadId": "={{ $('Code in JavaScript').item.json.email_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        0
      ],
      "id": "377f295a-04e6-4481-8475-e9bbd0cdf0a3",
      "name": "Trash a thread",
      "webhookId": "f3e5d02c-eb33-409f-b045-c658320a12dc",
      "credentials": {
        "gmailOAuth2": {
          "id": "vS6FTpSJdTEXg8TB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $item(0).$node[\"Telegram Trigger\"].json[\"callback_query\"][\"id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "ec78b03e-3c15-495f-a4ee-ce557ed80fb2",
      "name": "Answer Query a callback",
      "webhookId": "16612f95-cb38-4caa-b2e8-dc5d96f3438e",
      "credentials": {
        "telegramApi": {
          "id": "5Qwnl7TqdGkOpn6G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Code in JavaScript').item.json.chat_id }}",
        "messageId": "={{ $('Code in JavaScript').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "54814b04-29d3-4cb2-a3b9-423409311734",
      "name": "Delete a chat message",
      "webhookId": "f89db038-d5ab-414e-9989-a58a8456574d",
      "credentials": {
        "telegramApi": {
          "id": "5Qwnl7TqdGkOpn6G",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trash a thread": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Trash a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ec9aebbc-54ce-4c0a-99ce-d28e1c0b495d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c579253d4cfc8adaafa7327486d94e7210344f47225613fedf6aec75889b8986"
  },
  "id": "fj0yz1P0BdFrLfDU",
  "tags": []
}