gmail_swipper.json
{
  "name": "gmail_swipper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        -320
      ],
      "id": "1b4948bd-76cb-423f-b8f9-21066e896c52",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "q": "is:unread (category:promotions OR category:updates)"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -320
      ],
      "id": "6210792c-99c8-48cd-ae46-2151ebfa5880",
      "name": "Get many messages",
      "webhookId": "17ed9d05-764e-40af-83a6-d49410e429c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "vS6FTpSJdTEXg8TB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b00ed61-3170-42f9-8d28-34cc93767540",
              "name": "",
              "value": "ID",
              "type": "string"
            },
            {
              "id": "dc78ab52-00f9-4e91-8fa3-0b701b6ae261",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "acd7eaae-30ee-4181-9a12-a0d4c9b9d82e",
              "name": "Snippet",
              "value": "",
              "type": "string"
            },
            {
              "id": "9c19393c-dece-47af-85fb-547ddefd060d",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "744e71a4-a2a0-4e7d-b4a3-b628e3838342",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "fb25fb32-6556-4ab7-bc5a-1fb49fa824c0",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -320
      ],
      "id": "80f29a6e-5de7-4768-bcca-48cd6f69236a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this email for a busy student. Avoid conversational filler like \"The sender is...\"\n\nEmail: {{ $json.snippet }}\n\nFormat the output exactly like this:\n📩 [Sender Name]\n━━━━━━━━━━━━━━━\n🔹 SUMMARY: [One clear, impactful sentence]\n🔹 ACTION: [What needs to be done, or \"No action needed\"]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        864,
        -320
      ],
      "id": "04450d61-e07f-4465-9ae9-ad4a48ea0764",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "tAwFwaKLPcIdovbC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5084218622",
        "text": "={{ $json.content.parts[0].text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🗑️ Delete this Email",
                    "additionalFields": {
                      "callback_data": "=DELETE_{{ $(\"Edit Fields\").item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -320
      ],
      "id": "1d60ee99-b6dd-4dde-92c1-8eb441e58610",
      "name": "Send a text message",
      "webhookId": "caef8f07-f391-4e9b-8498-0779e57f574a",
      "credentials": {
        "telegramApi": {
          "id": "5Qwnl7TqdGkOpn6G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        -320
      ],
      "id": "cc8d6b29-31a6-4573-9454-3e3cbd2d880b",
      "name": "Wait",
      "webhookId": "10dd0451-dba6-445b-aee7-221f132201a4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "84e6763e-ea91-4302-8e81-66b224878217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c579253d4cfc8adaafa7327486d94e7210344f47225613fedf6aec75889b8986"
  },
  "id": "5rvPtRgPLSKQJVAq",
  "tags": []
}